<div class="row my-3 mx-2 ">
    <div class="col ">
        <div class="d-block bg-white border rounded px-4 py-4 shadow">
         <div class="d-flex flex-grow flex-column flex-md-row">
        <h3 class="se d-inline-block mygrey-text flex-grow-1">{{title}} id:{{id}}</h3>
        
            <div class="d-flex flex-column justify-content-start justify-content-md-end">

                <p class="se font-weight-bold mb-0 d-block  px-1">{{date}} <i class="myred-text far fa-hand-point-right"></i> {{user}}</p>
                <p class="se font-weight-bold mb-0 d-block  px-1"><i class="myred-text fas fa-tags"></i>    {{tags}}</p>
                
            </div>
        </div>
            <p class="mb-0 mt-1 d-inline-block" style="font-family: Roboto, sans-serif;">{{text}}<br>
            </p>
        </div>
    </div>
</div>
