<div class="row my-4 mx-2 ">
    <div class="col ">
        <div class="d-block bg-white rounded pt-4 shadow">
            <div class="d-flex flex-grow flex-column px-4  flex-md-row">
                <h3 class="se d-inline-block mygrey-text flex-grow-1">{{title}} id:{{id}}</h3>
            </div>

            <p class="mb-0  px-4 pb-3 mt-1 d-inline-block" style="font-family: Roboto, sans-serif;">{{text}}<br>
            </p>
            <div class="mycard-footer py-2">
                <div class="d-flex flex-row my-1 px-4 ">
                    <p class="se font-weight-bold mb-0 d-block">
                        <i class="myred-text far fa-hand-point-right mr-2"></i> {{user}}
                    </p>
                    <p class="se font-weight-bold mb-0 d-block">
                        <i class="myred-text far fa-calendar-alt ml-4 mr-2"></i>{{date}}</p>
                    <p class="se font-weight-bold mb-0 d-block til-tags">
                        <i class="myred-text fas fa-tags ml-4 mr-2"></i> {{tags}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>